In [15]:
def test(*args): 
      print("this is my args")

In [16]:
test()

this is my args

In [39]:
def test1(**kwargs): 
      print("this is my kwargs",kwargs.items())

In [40]:
test1(x="khan",y=23,z=55.4,p=[2,3,4,5])

this is my kwargs dict_items([('x', 'khan'), ('y', 23), ('z', 55.4), ('p', [2, 3, 4, 5])])

In [48]:
def test3(name,mail_id):
    con = name+ mail_id
    return mail_id,name ,con

In [49]:
test3("sudh","khan@gmail.com")

('khan@gmail.com', 'sudh', 'sudhkhan@gmail.com')

In [50]:
a = 10
b = 20
def test22(x,y):
    return x+y

In [51]:
test22(a,b)

30

In [52]:
m = lambda x,y :x+y
m(a,b)

30

In [53]:
b = "khan"
c= "test"
m = lambda arg1,arg2 :print(arg1,arg2)

In [54]:
m(b,c)

khan test

In [60]:
r = 10
def test5(a,b):
    r = a/b
    print(r)

In [61]:
test5(100,10)

10.0

In [69]:
def test9():
    """""
    this is function i am using it will help you 
    """""
    print("my name is xyz")

In [68]:
test9()

my name is xyz

In [66]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [92]:
a = "khan"
s = iter(a)

In [93]:
next(s)#string can be itrable

'k'

In [94]:
a = 10
iter(a) #int can not be interable

TypeError: 'int' object is not iterable